@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 230px;
  background: #fff;
}

#toggleButton {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  padding-left: 2px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  /* border: 5px solid green; */
  padding: 25px;
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
